*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

body {

}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    position: fixed;
    z-index: 999;
    height: 80px;
    background-color: white;
}

#menu {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: white;
    padding: 0px 0;
    position: relative;
    max-height: 80px;
    height: 80px;
}

nav {
    width: 100%;
    height: 80px;
}

/* логотип */
.logo {
    display: block;
    float: left;
    width: 156px;
    padding-top: 30px;
    margin-left: 50px;
}

/* меню */
#menu {
    float: right;
    padding-top: 25px;
    margin-right: 50px;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
}

#menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
}
#menu a:hover {
    color: #bfd732;
}

#menu li:last-child  {
    margin-right: 0;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: black;
    cursor: pointer;
    margin-top: 19px;
}

.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}

.nav-toggle .changed:before {
    background-color: black;
}

.nav-toggle .changed:after {
    background-color: black;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
    max-height: 231px;
}

.carusel_wrap {
    text-align: center;
    position: relative;
}

.typer_wrap {
    position: absolute;
    top: 41%;
    left: 28%;
}

.typer_const {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    color: white;
}

.typer {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    color: #bfd732;
}

.typed-cursor {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    color: #bfd732;
}

/* If fade out option is set */
.typed-fade-out {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    color: #bfd732;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, .1);
    transition: 0.2s;
}

.about_us_wrap {
    text-align: center;
    margin-top: 90px;
    padding-bottom: 90px;
    border-bottom: 4px solid black;
}

.since {
    color: #767374;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
}

.about_us {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    width: 63%;
    margin-right: auto;
    margin-left: auto;
}

.green_button {
    margin-top: 35px;
    background-color: #bfd732;
    color: white;
    width: 180px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 30px;
    padding-top: 12px;
    letter-spacing: 1px;
}

.green_button:hover {
    background-color: black;
}

.social_dot {
    width: 41px;
    height: 41px;
    display: inline-block;
}

.social_dot a {
    cursor: pointer;
}

#insta {
    display: none;
}

.contact_dot a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}

.contact_dot a:visited {
    color: black;
}

.contact_dot a:hover {
    color: #bfd732;
    text-decoration: underline;
}

.contact_dot span {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
    letter-spacing: 1px;
}

#address {
    text-transform: none;
}

.footer_logo {
    width: 166px;
    height: 40px;
    padding-top: 30px;
    margin-left: auto;
}

.footer_list_dot {
    width: 49%;
    display: inline-block;
}

.footer_list_dot:nth-child(2n) {
    text-align: right;
}

#footer_list {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 70px;
    padding-top: 30px;
}

.low_menu_dot {
    display: inline-block;
    margin-left: 2%;

}

.low_menu_dot a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    display: block;
    line-height: 40px;
    font-size: 1.5vw;
}
.low_menu_dot a:hover {
    color: #bfd732;
}

.make_order {
    margin-top: 35px;
    background-color: #bfd732;
    color: white;
    width: 207px;
    height: 59px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 30px;
    padding-top: 12px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.make_order a{
    color: white;
    vertical-align: -6px;
}

.make_order a:visited{
    color: white;
}

.make_order:hover {
    background-color: black;
}

@media (max-width: 768px) {
/* показываем кнопку для переключения верхней навигации */
.nav-toggle {
display: block;
}
header {
padding: 0px 0;
}
/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
#menu {
max-height: 0;
background: black;
float: none;
position: absolute;
overflow: hidden;
top: 63px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;

}

.since {
    font-size: 2.5vw;
}

h1, h2 {
    font-size: 4vw;
}

.about_us {
    font-size: 2.5vw;
}

#menu a {
    color: white;
}
/* делаем элементы списка блочными, чтобы они располагались друг под другом */
#menu li {
display: block;
padding-left: 15px;
border-bottom: 1px solid #EBEBE3;
margin-right: 0;
}
/* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
.posts-list, aside {
width: 100%;
float: none;
}

.logo {
    margin-left: 15px;
}

.widget-post-title {
    font-size: 1.5em;
}

.footer_list_dot {
    display: block;
}

.footer_logo {
    display: none;
}

.low_menu_list {
    display: none;
}

.footer_list_dot:nth-child(2n) {
    text-align: left;
}

.contact_dot span {
    font-size: 2.5vw;
}

.contact_dot a {
    font-size: 2.5vw;
}

#social_list {
    margin-bottom: 20px;
    margin-top: 15px;
}

#footer_list {
    margin-left: 16%;
}

}
@media (max-width: 480px) {
/* выравниванием логотип по центру */
nav {
text-align: center;
}
/* отменяем обтекание для логотипа */
.logo {

margin-bottom: 15px;
margin-left: 15px;
}
/* позиционируем меню на увеличившуюся высоту шапки */
#menu {

}
/* позиционируем форму поиска по левому краю */

/* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
.post-footer {
border-top: none;
border-bottom: none;
text-align: center;
}
/* отменяем позиционирование кнопок соцсетей */
.post-social {
position: static;
text-align: center;
transform: none;
margin-top: 20px;
}
.widget-post-title {
font-size: 1.2em;
}
/* отменяем обтекание для столбцов подвала страницы */
.footer-col {
float: none;
margin-bottom: 20px;
width: 100%;
text-align: center;
}
.footer-col:last-child {
text-align: center;
margin-bottom: 0;
}

.contact_dot span {
    font-size: 4.5vw;
}

.contact_dot a {
    font-size: 4.5vw;
}

.since {
    font-size: 3.5vw;
}

h1 {
    font-size: 6vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 6vw;
}

.about_us {
    font-size: 4.5vw;
}

.footer_list_dot {
    width: 80%;
}

#footer_list {
    margin-left: 10%;
}


}