{% extends 'presscorp/base.html'%}
{% load staticfiles %}
{% load static %}
{% block title %} ПрессКорп - Design & Digital {% endblock %}
{% block content %}
<div class="carusel_wrap">
  <div class="carusel">
    {% for x in slider %}
      <div>
        <img data-u="image" src="{{ x.img.url }}" />
        <div class="overlay"></div>
      </div>
    {% endfor %}
  </div>
  <div class="typer_wrap">
    <span class="typer_const">we are</span>
    <span class="typer"></span>
  </div>
</div>
<div class="about_us_wrap">
  <div class="since"><span>Since 2008</span></div>
  <h1>«ПрессКорп».<br> Независимое рекламное агентство.</h1>
  <p class="about_us">
    Мы сделаем все возможное — и даже чуточку больше, чтобы работа с нами оставила о себе только приятные впечатления и переросла в длительные продуктивные отношения!
  </p>
  <a href="/">
    <div class="green_button">ДАЛЕЕ</div>
  </a>
</div>
{% endblock %}
